change this/*
result.csv
screenshot/maret/*

!change this/sample-config.json
!change this/sample-tasks.json
!screenshot/maret/screenshot lainnya/
!screenshot/maret/screenshot cuti/
!screenshot/maret/screenshot stand up/